.category-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    /* background: red; */
}
.awesome-heading h1:hover{
    text-decoration: underline;
}
.Magictxtt{
    transition: all 0.5s ease;
    transform: translateY(800%);
    opacity: 0;
}
.Magictxtt.fire{
    opacity: 1;
    transform: translatex(0%);
    transition: all 0.5s ease;
}

.category-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    gap: 20px;
    /* padding: 10px 0; */
}

.category-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    text-align: center;
    /* color: white; */
    cursor: pointer;

}

#icon-circle{
    transition: all 0.5s ease;
    transform: translateY(800%);
    opacity: 0;

}
#icon-circle.fire{
    opacity: 1;
    transform: translateX(0%);
}
.category-item:hover {
    transform: translateY(-5px);
}

.icon-circle {
    width: 60px;
    height: 60px;
    /* background: #2d2d4a; */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.icon-circle i {
    font-size: 24px;
    /* color: black; */
}

.category-item span {
    /* color: black; */
    font-size: 12px;
    margin-top: 5px;
    max-width: 80px;
    word-wrap: break-word;
}

.nav-btn {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    /* background: rgba(255, 255, 255, 0.1); */
    border: none;
    width: 30px;
    /* height: 30px; */
    border-radius: 50%;
    /* color: rgb(163, 25, 25); */
    cursor: pointer;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}

@media (max-width: 768px) {
    .category-container {
        padding: 15px 30px;
    }
    
    .icon-circle {
        width: 50px;
        /* height: 50px; */
    }
    
    .icon-circle i {
        font-size: 20px;
    }
    
    .category-item span {
        font-size: 11px;
    }
}