.footer {
    /* background-color: black; */
    /* color: white; */
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .column {
    transition: all 0.8s ;
    /* transform: translateX(-800%); */
    /* background-color: red; */
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.column.fire {
    transform: translateX(0px);

}

#column1 {
    transition: all 0.8s ;
    transform: translateX(800%);
    /* background-color: red; */
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

#column1.fire {
    transform: translateX(0px);

}

#column2 {
    transition: all 0.8s ;
    transform: translateX(-800%);
    /* background-color: red; */
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

#column2.fire {
    transform: translateX(0px);

}


 

.footer h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer h4:hover {
    text-decoration: underline;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    text-decoration: none;
    /* color: #d5d5d5; */
    font-size: 14px;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}


.footer .footer-bottom .select-wrapper {

    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 20%;
}

.footer .footer-bottom p:hover {
    text-decoration: underline;
}

.footer .footer-bottom h1:hover {
    text-decoration: underline;
}

.footer .footer-bottom select {
    /* background-color: #37475a; */
    /* color: white; */
    border: none;
    padding: 15px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}