.login-container {
  height: 90vh;
  align-items: center;
  /* background: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 400px; */
  /* display: flex
; */
  /* flex-direction: column; */
  vertical-align: middle;
  align-content: center;
}
.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
/* .login-container button:hover { */
  /* background-color: black; */
/* } */
.login-container .signup-link {
  text-align: center;
  margin-top: 10px;
}
.login-container .signup-link a {
  color: #007bff;
  text-decoration: none;
}
.login-container .signup-link a:hover {
  text-decoration: underline;
}


@media screen and (min-width:770px) {
  .login-container {display: none;}
  
}